/*.background {
  background-color: #E6E1C5;
}*/
#bootstrap-override .jumbotron {
  border-radius: 1em;
  background-color: #FF8552;
}
#bootstrap-override {
  padding-left: 0;
  padding-right: 0;
  /*border-radius: 0;*/
}
.output-box {
  background-color: white;
  padding: 18px 0;
  border-radius: 6px;
}
.output-box2 {
  background-color: white;
  padding: 18px 0;
  border-radius: 6px;
}
ul {
  list-style: none;
  -webkit-padding-start: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B8B8B8 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B8B8B8 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B8B8B8 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #B8B8B8 !important;
}
.icons {
  height: 100px;
  padding-right: 30px;
}
/*.display-4 {
  color: #D4CB92;
}*/
button {
  width: 137px;
}
/*label {
  font-size: .85em;
}*/
